/*
* GERAL
*/
body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

#main_container {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: auto 2fr auto;
  grid-template-areas:
    "header header"
    "nav content"
    "footer footer";
  height: 100vh;
}

/*
* HEADER
*/

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #222a3f;
}

#info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0 1.5em;
}

#info a {
  text-decoration: none;
  color: white;
}

#info > a {
  font-size: 1.5em;
  align-self: flex-end;
}

#info img {
  width: 50px;
  padding: 0 0.5em;
}

#info h1 {
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  flex-grow: 1;
  padding: 0 0.5em;
}

#info span {
  color: white;
  font-size: 1.5em;
  padding: 0 0.5em;
}

/*
* NAVIGATION
*/

nav {
  grid-area: nav;
  background-color: #f6f5f3;
}

#menu_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2em 1em 2em 1em;
}

.menu_option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2em;
  color: #3d3d3b;
}

.menu_option p {
  font-size: 1.2em;
  font-weight: 400;
  padding-left: 1em;
}

.menu_option span {
  font-size: 1.5em;
}

.menu_option .circle {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #865766;
}

#menu_container hr {
  width: 100%;
  border-top: 1px solid #948f8c;
  margin: 1em 0;
}

.tabs {
  margin: 1em 0;
  width: 100%;
  text-align: center;
}

.tabs section {
  display: none;
}

.tabs input {
  display: none;
}

.tabs label {
  display: inline-block;
  margin: 0 -0.4em 1em 0;
  padding: 0.3em 1em;
  background-color: white;
  color: #948f8c;
  font-weight: 500;
  font-size: 0.9em;
  border: 1px solid #948f8c;
}

.tabs label:hover {
  cursor: pointer;
}

.tabs input:checked + label {
  color: #3d3d3b;
  background-color: #f6f5f3;
  border-bottom: 1px solid transparent;
}

.tabs #tab1:checked ~ #content1,
.tabs #tab2:checked ~ #content2 {
  display: block;
}

.tabs p {
  font-weight: 300;
  font-size: 0.9em;
  text-align: left;
}

/*
* MAIN CONTENT
*/

main {
  grid-area: content;
}

/*
* FOOTER
*/

footer {
  grid-area: footer;
  background-color: #222a3f;
  text-align: center;
}

footer p {
  color: white;
  font-size: 0.8em;
  font-weight: 200;
}
